@import "./vendor/normailize";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background: black;
}

body{
    height: 100vh;
    display: flex;
    background: black;
}

.top{
    text-align: center;
}

.score{
    text-align: center;
    margin: 5px;
}

h1{
    font-family:monospace;
    text-align: center;
    color: darkred;
    font-size: 50px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    text-align:left;
    font-size: 15px;
    text-decoration: underline;
}

img{
    max-width: 200px;
    max-height: 300px;
}

.game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card1, 
.card2,
.card3,
.card4,
.card5,
.card6 {
    margin: 5px;
    position: relative;
}
  
.reveal,
.backface {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: darkred;
}
