@media (min-width: 768px) {
    .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      position: relative;
      perspective: 1000px;
      align-items: stretch;
    }
  
    .cards__single {
      width: 20%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background: black;
}

body{
    height: 100vh;
    display: flex;
    background: black;
}

.score{
    text-align: center;
    margin: 5px;
}

h1{
    font-family:monospace;
    text-align: center;
    color: darkred;
    font-size: 50px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    text-align:left;
    font-size: 15px;
    text-decoration: underline;
}


.game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card{
  width: calc(50% - 58px);
  height: calc(58.333% - 1px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}
  
.reveal,
.backface {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: darkred;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    transform: scale(1);
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.reveal{
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}

.backface{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
}