@import "./vendor/normailize";

html{
    background: black;
}

h1{
    font-family:monospace;
    text-align: center;
    color: darkred;
    font-size: 50px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkred;
    text-align:left;
    font-size: 15px;
    text-decoration: underline;
}

img{
    max-width: 200px;
    max-height: 300px;
}

.photos{
    display: grid;
    grid-template-columns:repeat(4,200px);
    gap: 40px;
    grid-template-rows: repeat(3,300px);
    perspective: 1000px;
    .card1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .card4{
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .card2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .card5{
    grid-column: 1/2;
    grid-row: 2/3;
    }
    .card3{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .card6{
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

.card1{
    position: relative;
    transform: scale(1);
}

.card2{
    position: relative;
    transform: scale(1);
}

.card3{
    position: relative;
    transform: scale(1);
}

.card4{
    position: relative;
    transform: scale(1);
}

.card5{
    position: relative;
    transform: scale(1);
}

.card6{
    position: relative;
    transform: scale(1);
}

.card1:active{
    position: relative;
    transform: scale(.90);
    transition: transform(4s);
}

.card2:active{
    position: relative;
    transform: scale(.90);
    transition: transform(4s);
}

.card3:active{
    position: relative;
    transform: scale(.90);
    transition: transform(4s);
}

.card4:active{
    position: relative;
    transform: scale(.90);
    transition: transform(4s);
}

.card5:active{
    position: relative;
    transform: scale(.90);
    transition: transform(4s);
}

.card6:active{
    position: relative;
    transform: scale(.90);
    transition: transform(4s);
}